<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <style>
    strong{
        color: red;
    }
    </style>
</head>
<body>
<h2>下面的文本使用了ejs语法</h2>
<strong><%=title %></strong>
</body>
</html>