<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>索引页</title>
    <style>
        strong {
            color: red;
        }
    </style>
</head>

<body>
    <h2>下面的文本使用了art-template模板引擎渲染的</h2>
    <div>{{title}}</div>
    <div>
        <ul>
            {{each list}}
            <li>{{$value}}</li>
            {{/each}}
        </ul>
    </div>
</body>

</html>